{% extends 'layout.html.twig' %}

{% block title %}
	{{ parent() }} - Accueil
{% endblock %}

{% block content %}
	<nav>
		<h1>Home</h1>
		<h1>About us</h1>
		<h1>Contact US</h1>
	</nav>
{% endblock %}
